.table {
	&__wrapper {
		margin-top: 40px;
	}

	&__sticky-menu {
		position: sticky;
		top: 0;
		left: 0;
		padding: 20px;
		background-color: #fff;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

		.btn {
			align-self: flex-end;
		}
	}

	&__create {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: 10px;
	}

	label {
		display: flex;
		flex-direction: column;
		gap: 5px;
		margin: 0;
	}

	input {
		height: 26px;
		margin: 0;
	}

	table {
		width: 100%;
		border-collapse: collapse;

		th,
		td {
			border: 1px solid #ddd !important;
			padding: 10px;
			user-select: none;
		}

		th {
			font-size: 14px;
			font-weight: 700;
		}

		td {
			font-size: 12px;

			&.focused {
				outline: 1px solid #000;
			}
		}
	}
}
