.table {
	&__wrapper {
		margin-top: 40px;
	}

	&__sticky-menu {
		position: sticky;
		top: 0;
		left: 0;
		padding: 20px;
		background-color: #fff;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	}

	&__panel {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: 15px;
	}

	&__panel-group {
		display: flex;
		align-items: center;
		gap: 4px;

		.btn {
			flex-direction: row;
		}
	}

	&__create {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: 10px;
	}

	label {
		position: relative;
		display: flex;
		flex-direction: column;
		gap: 5px;
		margin: 0;

		&.checkbox,
		&.radio {
			flex-direction: row;
			align-items: center;
			gap: 10px;
			padding: 0;
		}
	}

	.error-msg {
		position: absolute;
		top: 100%;
		left: 0;
		color: red;
		font-size: 12px;
	}

	input {
		height: 26px;
		margin: 0;

		&[type="file"] {
			display: none;
		}

		&[type="color"] {
			padding: 0;
		}

		&[type="checkbox"],
		&[type="radio"] {
			display: none;

			& + p {
				width: 17px;
				height: 17px;
				background-color: #fff;
				border: 1px solid #ccc;
				box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);

				i {
					display: none;
				}
			}

			&:checked + p i {
				display: block;
			}
		}
	}

	table {
		width: 100%;
		border-collapse: collapse;

		th,
		td {
			border: 1px solid #ddd !important;
			padding: 10px;
			user-select: none;

			&.focused {
				outline: 1px solid #000;
			}

			&.selection {
				background-color: #a2ddfa !important;
			}
		}

		th {
			font-size: 14px;
			font-weight: 700;
			background-color: #f4f5f5;
		}

		td {
			font-size: 12px;
		}

		a {
			color: #00a7b3;
			font-weight: 600;
		}
	}

	&__button-with-dropdown {
		position: relative;
	}

	&__dropdown {
		position: absolute;
		top: 100%;
		left: 0;
		z-index: 2;
		display: flex;
		flex-direction: column;
		gap: 10px;
		background-color: #fff;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
		padding: 20px 10px;

		.btn {
			align-self: flex-start;
		}

		& > span {
			font-size: 16px;
			margin-top: 15px;
		}
	}
}
