/* Breakpoints */
$media-list: (
	'm': 0,
	't': 575,
	'ti': 767,
	'tl': 991,
	'd': 1279,
	'dl': 1439,
	'dxl': 1679,
);

/* Fonts */
$mainFont: 'Inter', sans-serif;

/* Colors */
$black: #000000;
$white: #ffffff;
$color-title: #004fd6;
$color-main: #070c3a;
$color-button: #070c39;
$color-accent: #00b2ff;
$color-card: #f4f4f4;
$color-blue: #1f4cca;
$color-subtitle: #183a9f;
$color-bullet: #16abff;
$color-link: #6873f1;
$color-placeholder: #c4c4c4;
$color-error: #c40a0a;
